sudo: required
dist: trusty
language: python

python:
  - "3.6"

before_install:
  - sudo apt-get -qq update
  - sudo apt-get install -y protobuf-compiler python-pil python-lxml

install:
  # code below is taken from http://conda.pydata.org/docs/travis.html
  - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  # Useful for debugging any issues with conda
  - conda info -a

  - conda create -q -n test-environment python=$TRAVIS_PYTHON_VERSION numpy scipy matplotlib pandas pytest h5py
  - source activate test-environment

  # Display the Python version we are running now
  - python --version
  
  # install Pillow for processing images
  - conda install Pillow;

  # Install Dependencies for object_detection (Part 1)
  - git clone https://github.com/tensorflow/models tensorflow-models

  # Fix for Issue 1834 - failed protoc installation, see https://github.com/tensorflow/models/issues/1834
  - mkdir protoc_3.5
  - cd protoc_3.5 # in home/protoc_3.5
  - wget wget https://github.com/google/protobuf/releases/download/v3.5.0/protoc-3.5.0-linux-x86_64.zip
  - chmod 775 protoc-3.5.0-linux-x86_64.zip
  - unzip protoc-3.5.0-linux-x86_64.zip
  - cd .. # back in /home/

  # Install Dependencies for object_detection (Part 2)
  - cd tensorflow-models/research # in /home/tensorflow-models/research
  - ../../protoc_3.5/bin/protoc object_detection/protos/*.proto --python_out=.
  - cd slim
  - python setup.py install # in tensorflow-models/research/slim
  - cd ..
  - python setup.py install # back in tensorflow-models/research
  - cd ../.. # back in root directory

  # Install additional requirements (Keras and Tensorflow CPU-Version)
  - pip install -r requirements.txt
  
  # List installed packages for debuggin purposes
  - pip list

script:
  - pytest --cov=./ keras_frcnn/ -s

after_success:
  - codecov